langlois_project_044/
star_index/
.ipynb_checkpoints/
star_mapping_results/
_STARtmp/
slurm*
Log.out
*/*.log*
.snakemake
logs/
blast_results/
salmon_indices/
salmon_quant_results/
final/
scripts/assemble_reads28May.srun
scripts/assemble_readsAJ04.srun
scripts/assemble_readsAK02.srun
scripts/assemble_readsAK03.srun
scripts/make_taxdump.srun
scripts/makempiblastdb.srun
scripts/stderr.*
scripts/stdout.*
